@model RoleViewModel

@{
    ViewBag.Title = "User Registration";
}

<h1>User Registration</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName"></label>
                <input asp-for="RoleName" class="form-control" data-val-required="The Role Name is required." data-val="true" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" style="width:auto">
                        Create Role
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>